<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-1.jpg" alt="Araba Seramik Kaplama" title="Araba Seramik Kaplama" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" /> 
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Seramik Kaplama</h3>
                        <p class="fst-italic">
                            Uzun ömür ve optimum yüzey koruması arıyorsanız aracınız için seramik kaplama yapmanızı öneririz.
                            Balmumu yüzeyleri korusa da, seramik kaplama kadar çevreye de dayanıklı değildir ve yeniden uygulamanız
                            gerekmeden önce cila yalnızca yaklaşık iki ay dayanır.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Seramik kaplamalar yüzeye kimyasal olarak bağlanır.</li>
                            <li>
                                <i class="ri-check-double-line"></i>Seramik kaplamalar uygulandıktan ve kürlendikten
                                sonra suya, sabunlara ve çevresel kirleticilere karşı son derece dayanıklıdır.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>Profesyonel kalitede
                                seramik kaplamalar 2 ila 8 yıl arasında sürebilir.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>Boya yüzeylerine, iç mekanlara, cam ve şeffaf plastik aydınlatma kapaklarına seramik kaplamalar uygulanabilir.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-1.jpg" alt="Araba Seramik Kaplama" title="Araba Seramik Kaplama" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
