<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-5.jpg" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" />
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Tam Detaylandırma</h3>
                        <p class="fst-italic">
                            Aracınızın eksiksiz bir şekilde detaylandırılması küçük bir başarı değildir. Sadece bir araba yıkamaktan
                            ve halıları süpürmekten daha fazlasını içerir. Eksiksiz bir detaylandırma, aracınızın teşhir salonunun içini
                            ve dışını temiz hale getirir.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Dışarıda, gevşek kir ve diğer kirleticilerin çoğunu çıkarmak için aracınızı sabunla iyice temizliyoruz.</li>
                            <li><i class="ri-check-double-line"></i>Daha sonra mikrofiber havlu ile aracı kurutuyoruz.</li>
                            <li><i class="ri-check-double-line"></i>Gerekirse, katran, ağaç özsuyu, böcekler ve sabunun çıkarmayacağı diğer maddeler gibi zor kirleticileri gidermek için teknikler kullanmamız gerekebilir.</li>
                            <li><i class="ri-check-double-line"></i>Boyanızı engebeli hissettiren kirleri gidermek için yüzeyin bir kil çubuğu ile "killenmesi" gerekebilir.</li>
                            <li><i class="ri-check-double-line"></i>Sonra yıkamalar arasında boyayı korumak için cila veya sprey mastik uygulayacağız.</li>
                            <li><i class="ri-check-double-line"></i>Tekerleklerinizi sert kir ve fren tozlarından arındırmak için iyice temizliyoruz. </li>
                            <li><i class="ri-check-double-line"></i>Jantlar temizlendikten sonra lastikler iyice temizlenir ve lastik pansuman yapılır.</li>
                            <li><i class="ri-check-double-line"></i>Arabanın iç kısmında halı ve kumaşları süpürüyoruz. Ardından plastikleri ve deriyi güvenli temizleyiciler ve mikrofiber havlular kullanarak siliyoruz. </li>
                            <li><i class="ri-check-double-line"></i>İç kısımdaki ulaşılması zor alanlarda biriken tüm tozları temizlemek için fırçalar kullanıyoruz.</li>
                            <li><i class="ri-check-double-line"></i>Şeffaf ve opak iç ve ön panel plastiklerini çizmemeye her zaman özen gösteriyoruz.</li>
                            <li><i class="ri-check-double-line"></i>Ardından halıları şampuanlayıp koltuklarda kumaş temizleyiciler kullanıyoruz. </li>
                        </ul>                       
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-5.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
