<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-2.jpg" alt="Araba Dış Temizleme" title="Araba Dış Temizleme" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" />
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Dış Detaylandırma</h3>
                        <p>
                            Dış Detaylandırma, çizikleri ve girdap izlerini önlemek için boyalar ve diğer dış yüzeyler hakkında
                            uygun bilgi gerektirir. Yüzeylere zarar vermemek için uygun temizleyiciler ve koruyucular kullanılmalıdır.
                        </p>
                        <p class="fst-italic">
                            Elite Auto Care'de her seferinde size ve yolculuğunuza seçkin bir deneyim yaşatmak için sadece elit
                            ürünler kullanıyoruz!
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Aracınızın dışını, gevşek kir ve diğer kirleticilerin çoğunu çıkarmak için aracınızı iyice temizliyoruz. </li>
                            <li><i class="ri-check-double-line"></i>Daha sonra mikrofiber havlu ile aracı kurutuyoruz. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Tekerlekleriniz, camlarınız, farlarınız ve daha fazlası
                                için adımlarımız da dahil olmak üzere "Elit Sürecimizin" birkaç adımından geçiyoruz!
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-2.jpg" alt="Araba Dış Temizleme" title="Araba Dış Temizleme" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
