<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-7.jpg" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" />
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Far Restorasyonu</h3>
                        <p class="fst-italic">
                            Far restorasyonu, farlarınızı değiştirmekten daha ucuz bir alternatif olabilir ve yeni, hatta kullanılmış
                            farların daha fazlaya mal olabileceği düşünüldüğünde, eğitimli bir profesyonelden far restorasyonu
                            kesinlikle daha iyi bir değerdir!
                        </p>
                        <ul>
                            <li>
                                <i class="ri-check-double-line"></i>Çağdaş araçlardaki far kapakları polikarbonat plastikten yapılmıştır, bu nedenle camdan daha sert ve
                                daha hafiftirler.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>Ne yazık ki, bu malzeme bir UV kaplama ile korunmalıdır ve zamanla kaplama ve plastik,
                                geceleri yayılan ışığı azaltarak puslu ve sarı hale gelecektir.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> UV ışığı, yol kalıntıları ve diğer atmosferik
                                unsurlar, far kapaklarınızın matlaşmasına katkıda bulunur.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>Uzun yıllar hizmet verdikten sonra oksidasyon da
                                sorununa katkıda bulunur.
                            </li>
                        </ul>
                        
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-7.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
