@{
    ViewData["Title"] = "Services Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row">
            <div class="col-xl-6">
                <h1>ELİTE AUTO CARE</h1>
                <h2>Yolculuğunuzun herhangi bir detayını sonraya bırakmayın.</h2>
                <a href="#services" class="btn-get-started scrollto">Hadi Başlayalım</a>
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->
<!-- ======= Tabs Section ======= -->
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                    <i class="ri-gps-line"></i>
                    <h4 class="d-none d-lg-block">Seramik Kaplama</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                    <i class="ri-body-scan-line"></i>
                    <h4 class="d-none d-lg-block">Dış Detaylandırma</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                    <i class="ri-sun-line"></i>
                    <h4 class="d-none d-lg-block">İç Detaylandırma</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                    <i class="ri-store-line"></i>
                    <h4 class="d-none d-lg-block">Boya Düzeltme</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Seramik Kaplama</h3>
                        <p class="fst-italic">
                            Uzun ömür ve optimum yüzey koruması arıyorsanız aracınız için seramik kaplama yapmanızı öneririz.
                            Balmumu yüzeyleri korusa da, seramik kaplama kadar çevreye de dayanıklı değildir ve yeniden uygulamanız
                            gerekmeden önce cila yalnızca yaklaşık iki ay dayanır.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Seramik kaplamalar yüzeye kimyasal olarak bağlanır.</li>
                            <li>
                                <i class="ri-check-double-line"></i>Seramik kaplamalar uygulandıktan ve kürlendikten
                                sonra suya, sabunlara ve çevresel kirleticilere karşı son derece dayanıklıdır.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>Profesyonel kalitede
                                seramik kaplamalar 2 ila 8 yıl arasında sürebilir.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>Boya yüzeylerine, iç mekanlara, cam ve şeffaf plastik aydınlatma kapaklarına seramik kaplamalar uygulanabilir.
                            </li>
                        </ul>
                        
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Dış Detaylandırma</h3>
                        <p>
                            Dış Detaylandırma, çizikleri ve girdap izlerini önlemek için boyalar ve diğer dış yüzeyler hakkında
                            uygun bilgi gerektirir. Yüzeylere zarar vermemek için uygun temizleyiciler ve koruyucular kullanılmalıdır.
                        </p>
                        <p class="fst-italic">
                            Elite Auto Care'de her seferinde size ve yolculuğunuza seçkin bir deneyim yaşatmak için sadece elit
                            ürünler kullanıyoruz!
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Aracınızın dışını, gevşek kir ve diğer kirleticilerin çoğunu çıkarmak için aracınızı iyice temizliyoruz. </li>
                            <li><i class="ri-check-double-line"></i>Daha sonra mikrofiber havlu ile aracı kurutuyoruz. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Tekerlekleriniz, camlarınız, farlarınız ve daha fazlası
                                için adımlarımız da dahil olmak üzere "Elit Sürecimizin" birkaç adımından geçiyoruz!
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs-2.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>İç Detaylandırma</h3>
                        <p>
                            Aracınızın iç detaylandırması, kullanılan farklı malzemeler hakkında uzmanlık ve bilgi gerektirir.
                            Farklı malzemeler üzerinde uygun temizleyiciler ve koruyucular kullanmak, hasar görmemeleri için önemlidir.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Aracınızın iç kısmındaki halı ve kumaşları vakumluyoruz. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Ardından plastikleri ve deriyi güvenli
                                temizleyiciler ve mikrofiber havlular kullanarak siliyoruz.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>İç kısımdaki ulaşılması zor alanlarda
                                biriken tüm tozları temizlemek için fırçalar kullanıyoruz.
                            </li>
                        </ul>
                        <p class="fst-italic">
                            Aracınızı dışarıdan görmekten keyif alacağınız kadar, sizin de aracınızın içinde keyif almanızı istiyoruz.
                            Aracınızı bize getirmeniz, aracınızın sadece dışarıdan değil, içeriden de seçkin görünmesini ve kokmasını
                            sağlayacaktır!
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>Boya Düzeltme</h3>
                        <p class="fst-italic">
                            Boya düzeltme, yüzeyden mikro bir vernik tabakası kaldırılarak hafif çizikler ve girdap işaretleri
                            kaldırılarak gerçekleştirilir. Boya düzeltme, aslında arabanızın cilasının yeniyken olduğundan daha
                            iyi görünmesini sağlayabilir!
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Boya düzeltme işlemine başlamak için aracınızın yüzeyi iyice temizlenmeli ve kirleticilerden arındırılmalıdır. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Bu, önce aracın yıkanması ve ardından bir kil çubukla "killenmesi" ile sağlanır. Bir kil çubuğu, dövülebilir
                                üretilmiş bir reçine bileşiğidir; Bir aracın boyasındaki inatçı kirleticileri çıkarmak için kullanılır.
                            </li>
                            <li><i class="ri-check-double-line"></i>Bir sonraki adım, boyadaki kusurları gidermek için farklı aşındırıcı bileşikler kullanmaktır. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Düzeltmenin son aşaması, boyanıza ayna gibi bir görünüm kazandırmak için cilalamadır. Kalan cilaları mikrofiber
                                bir bezle parlatarak son cilalamayı bitiriyoruz.
                            </li>
                        </ul>
                        <p>
                            Bundan sonra boyaya profesyonel kalitede bir seramik kaplama uygulanmalıdır. Elite Auto'da seramik kaplama
                            uzmanlarıyız ve sürüşünüz için hangi kaplamanın uygun olabileceğine dair tüm sorularınızı yanıtlamaktan heyecan
                            duyuyoruz!
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="~/img/tabs-4.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Tabs Section -->
