<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-3.jpg" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" />
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>İç Detaylandırma</h3>
                        <p>
                            Aracınızın iç detaylandırması, kullanılan farklı malzemeler hakkında uzmanlık ve bilgi gerektirir.
                            Farklı malzemeler üzerinde uygun temizleyiciler ve koruyucular kullanmak, hasar görmemeleri için önemlidir.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Aracınızın iç kısmındaki halı ve kumaşları vakumluyoruz. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Ardından plastikleri ve deriyi güvenli
                                temizleyiciler ve mikrofiber havlular kullanarak siliyoruz.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>İç kısımdaki ulaşılması zor alanlarda
                                biriken tüm tozları temizlemek için fırçalar kullanıyoruz.
                            </li>
                        </ul>
                        <p class="fst-italic">
                            Aracınızı dışarıdan görmekten keyif alacağınız kadar, sizin de aracınızın içinde keyif almanızı istiyoruz.
                            Aracınızı bize getirmeniz, aracınızın sadece dışarıdan değil, içeriden de seçkin görünmesini ve kokmasını
                            sağlayacaktır!
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
