<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-6.jpg" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" />
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Detaylı Bakım</h3>
                        <p class="fst-italic">
                            Bakım detaylandırma, tam detaylandırma arasında içte ve dışta hızlı bir temizliktir.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Aracınızın cilasını yıkayıp mikrofiber bez ile siliyoruz.</li>
                            <li><i class="ri-check-double-line"></i>Ayrıca tekerlekleri ve lastikleri de iyice yıkarız ve iç kısım vakumlanır ve mikrofiber bezlerle silinir..</li>
                        </ul>
                        <p>
                            Daha önce aracınıza seramik kaplama yaptırdıysanız, bakım detayına sahip olmak seramik kaplamanızın yılın her günü o parlak showroom bitişine sahip olmasını sağlar!
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-6.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
