<div class="container-fluid" style="margin: 0; padding:0;">
    <img src="~/img/services-8.jpg" style="width: 100vw; height: 45vh; margin: 0; padding: 0;" />
</div>
<section id="tabs" class="tabs" style="color: black;">
    <div class="container" data-aos="fade-up">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <h3>Boya Düzeltme</h3>
                        <p class="fst-italic">
                            Boya düzeltme, yüzeyden mikro bir vernik tabakası kaldırılarak hafif çizikler ve girdap işaretleri
                            kaldırılarak gerçekleştirilir. Boya düzeltme, aslında arabanızın cilasının yeniyken olduğundan daha
                            iyi görünmesini sağlayabilir!
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Boya düzeltme işlemine başlamak için aracınızın yüzeyi iyice temizlenmeli ve kirleticilerden arındırılmalıdır. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Bu, önce aracın yıkanması ve ardından bir kil çubukla "killenmesi" ile sağlanır. Bir kil çubuğu, dövülebilir
                                üretilmiş bir reçine bileşiğidir; Bir aracın boyasındaki inatçı kirleticileri çıkarmak için kullanılır.
                            </li>
                            <li><i class="ri-check-double-line"></i>Bir sonraki adım, boyadaki kusurları gidermek için farklı aşındırıcı bileşikler kullanmaktır. </li>
                            <li>
                                <i class="ri-check-double-line"></i>Düzeltmenin son aşaması, boyanıza ayna gibi bir görünüm kazandırmak için cilalamadır. Kalan cilaları mikrofiber
                                bir bezle parlatarak son cilalamayı bitiriyoruz.
                            </li>
                        </ul>
                        <p>
                            Bundan sonra boyaya profesyonel kalitede bir seramik kaplama uygulanmalıdır. Elite Auto'da seramik kaplama
                            uzmanlarıyız ve sürüşünüz için hangi kaplamanın uygun olabileceğine dair tüm sorularınızı yanıtlamaktan heyecan
                            duyuyoruz!
                        </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/img/tabs-4.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
