<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EliteAutoCare Sakarya</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a asp-controller="Home" asp-action="Index">Elite Auto<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="dropdown">
                        <a asp-controller="Services" asp-action="Index"><span>Servisler</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a asp-controller="Services" asp-action="CeramicCoating">Seramik Kaplama</a></li>
                            <li><a asp-controller="Services" asp-action="ExteriorDetailing">Dış Detaylandırma</a></li>
                            <li><a asp-controller="Services" asp-action="InteriorDetailing">İç Detaylandırma</a></li>
                            <li><a asp-controller="Services" asp-action="PaintCorrection">Boya Düzeltme</a></li>
                            <li><a asp-controller="Services" asp-action="CompleteDetailing">Tam Detaylandırma</a></li>
                            <li><a asp-controller="Services" asp-action="MaintenanceDetailing">Detaylı Bakım</a></li>
                            <li><a asp-controller="Services" asp-action="HeadlampRestoration">Far Restorasyonu</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#hero">Otomobiller</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Contact">Bize Ulaşın</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a asp-controller="Services" asp-action="Index" class="get-started-btn scrollto">Hadi Başlayalım</a>
        </div>
    </header><!-- End Header -->


    @RenderBody()


    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Elite Car<span>.</span></h3>
                        <p>
                            Erenler,  <br>
                            54200<br>
                            Erenler/Sakarya<br><br>
                            <strong>Phone:</strong> +90 555 555 5555<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Hızlı Erişim</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="Index">Servisler</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Servisler</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="CeramicCoating">Seramik Kaplama</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="ExteriorDetailing">Dış Detaylandırma</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="InteriorDetailing">İç Detaylandırma</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="PaintCorrection">Boya Düzeltme</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="ExteriorDetailing">Tam Detaylandırma</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="ExteriorDetailing">Detaylı Bakım</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Services" asp-action="ExteriorDetailing">Far Restorasyonu</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Çalışma Saatlerimiz</h4>
                        <p>Pazartesi-Cumartesi</p>
                        <p>08:30 - 18:00</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>ADA Dijital</span></strong>. All Rights Reserved
                </div>

            </div>
            <div class="social-links text-center text-md-end pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- WhatsApp ekleme -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "905452672611",
                call_to_action: "Merhaba, nasıl yardımcı olabilirim?",
                position: "left",
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- WhatsApp ekleme -->
    <!-- Vendor JS Files -->
    <script src="~/lib/purecounter/purecounter.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    @*<script src="~/lib/php-email-form/validate.js"></script>*@

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
